{% extends 'admin/admin_layout.html' %}
{%set active_page = "admin_applications" %}
{% block title %}Applications{% endblock %}


{% block content %}

<div class="container mb-5">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h4>Pending Applications</h4>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Email of User</th>
                <th scope="col">Plant Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for x in data %}

            <tr>
                <td>{{x[1]}}</td>
                <td>{{x[2]}}</td>
                <td>{{x[0]}}</td>
                <td> <a href="{{ url_for('accept') }}?app_id={{x[3]}}" class="btn btn-success btn-xs">Accept</a> <a href="{{ url_for('reject') }}?app_id={{x[3]}}" class="btn btn-danger btn-xs">Reject</a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}